.signup-form {
    position: relative;
    margin: auto;
    padding: 1em;
    box-sizing: border-box;

    display: grid;
    grid-gap: 20px;
    width: 500px;
    height: 500px;
}

.signup-input {
    display: flex;
    flex-direction: column;
}

.signup-input > input {
    height: 30px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.signup {
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.signup:hover {
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
    color: black;
}

.signup-form > label {
    font-family: cursive;
    font-size: 20px;
}
