p {
    padding: 0;
    margin: 0;
}

.event-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    overflow-wrap: normal;
}

.event-time {
    font-family: monospace;
    color: gray;
    font-size: 16px;
}

.created-by {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}

.created-by-wrapper {
    display: inline-flex;
    gap: 10px;
}

.details {
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.event-body {
    padding: 0 5% 0 0;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    overflow-wrap: normal;
}

.edit-event-single {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid blue;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: blue;
    font-size: 13px;
    border-radius: 5px;
    height: 20px;
    width: 75px;
    align-self: flex-start;
}

.edit-event-single:hover {
    color: white;
    background-color: blue;
}

.delete-event-single {
    background-color: red;
    background-repeat: no-repeat;
    border: 1px solid red;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    height: 21px;
    width: 90px;
}

.delete-event-single:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

.rsvp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 20px;
}

.areYouGoing-msg {
    font-family: monospace;
    font-size: 16px;
    color: gray;
}

.going-buttonPermanent {
    background-color: green;
    background-repeat: no-repeat;
    border: 1px solid green;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 5px;
    height: 30px;
    width: 125px;
}

.going-button {
    background-color: green;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid green;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 5px;
    height: 30px;
    width: 125px;
}

.going-button:hover {
    color: black;
    background-color: rgba(0, 255, 0, 0.8);
}

.notGoing-button {
    background-color: orange;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid orange;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 5px;
    height: 30px;
    width: 125px;
}

.notGoing-button:hover {
    color: black;
    opacity: 0.8;
}
