.login-form {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 1em;
    box-sizing: border-box;

    display: grid;
    grid-gap: 50px;
    grid-template-rows: 10em 1em 1em 1em;
}

.user-input {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
}

.user-input > input {
    height: 30px;
}

.login {
    margin: 0 145px;
    padding: 5px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
}
