.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.home-redirect {
    text-decoration: none;
    color: red;
    font-family: cursive;
    font-size: 30px;
}

.user-interact button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.user-interact button:hover {
    color: lightblue;
}

.profile-button {
    margin-right: 40px;
}

.profile-button > i {
    margin-left: 10px;
}

.user-stuff {
    display: inline-flex;
}

.user-stuff > p {
    font-size: 22px;
}

.profile-dropdown {
    list-style: none;
}

.logout-profile-button {
    justify-self: flex-end;
}

.greeting {
    margin-top: 3px;
}
